<?xml version="1.0"?>
<settings>
  <servers>
   <server>
      <id>anypoint-exchange-v3</id>
      <username>~~~Client~~~</username>
      <password>7f5be7d08a88496788e7109ced1fe9fa~?~eef097025F324FB6886bb5a0e32604a4</password>
    </server>
	<server>
	  <id>anypoint-exchange-v3-student-deployment</id>
	  <username>~~~Client~~~</username>
	<password>${env.ID_MULESOFT_OPS_USERNAME}~?~${env.ID_MULESOFT_OPS_PASSWORD}</password>
	</server>
 </servers>
</settings>
